/* General notice box style */
.mhs-notice-box {
  position:relative;
  padding: 20px;
  color: #fff;
  font-size: 1em;
}

/* Danger box style */
.mhs-notice-box.danger {
  background-color: #f1453d;
}

/* Success box style */
.mhs-notice-box.success {
  background-color: #1ba96f;
}

/* Info box style */
.mhs-notice-box.info {
  background-color: #2b98f0;
}

/* Warning box style */
.mhs-notice-box.warning {
  background-color: #fd9727;
}

/* Close button style */
.mhs-notice-close {
  position:relative;
  float: right;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  top: -10px;
  right: -10px;
  transition: 0.3s;
}

/* Close button hover style  */
.mhs-notice-close:hover {
  color: black;
}
